{% extends 'homepage/home.html' %}{% load static %}


{% block title  %} NCTTS - Delete Records{% endblock  %}

{% block extrastyle %}
<link rel="stylesheet" href="{% static 'base.css' %}">
{% endblock %}

{% block header %}
<nav class="navbar navbar-dark navbar-expand-md bg-dark py-3">
    <div class="container"><a class="navbar-brand d-flex align-items-center" href=" {% url 'homepage:home' %}"><span class="bs-icon-sm bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center me-2 bs-icon" style="color: var(--bs-navbar-active-color); background:var(--bs-navbar-brand-color);"><img src=" {% static 'homepage/assets/img/cyberlogo.png' %}" width="24" height="22"></span><span>NCTTS</span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-5"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-5">
            <ul class="navbar-nav ms-auto"></ul>
            {% if user.is_authenticated %}
            <span style="color: var(--bs-navbar-active-color);">You are logged in, Welcome: <i><b>{{ user.get_username}}</i></b></span>
            <a class="btn btn-danger ms-md-2" role="button" href="{% url 'logout' %}">Logout</a>
            {% else %}
            <span style="color: var(--bs-navbar-active-color);">You are not logged in</span>
            <a class="btn btn-primary ms-md-2" role="button" href="{% url 'login' %}?next={{request.path}}">Login</a>
            {% endif %}

            {% block nav_link_active %}
            
            {% endblock %}

            {% block login %}
            
            {% endblock %}
        </div>
    </div>
</nav>
{% endblock %}

{%  block content %}
<h1 style="background: #264b5d;color: var(--bs-white);font-size: 23px;padding: 20px 10px 10px 16px;"><div class="container">Delete Vulnerability</div></h1>
<div class="container">
    <div class="pad-text">    
        <div class="border border-info pad-text centered">
            <h3>
                <p>This record will be permanantly deleted. Are you sure?</p>
                <form method="POST">
                    {% csrf_token %}
                    <a class="btn btn-warning" href="{% url 'ManageReports' %}" role="Cancel">Cancel</a>
                    <input class="btn btn-danger" type = "submit" name="Confirm" value="Confirm">
                </form>
            <h3>    
        </div>
    </div>
</div>
<div class="pad-top centered">
    <a href="{% url 'vulnerability' vulnerability.vul_no %}" target="_self"><button type="button" class="btn btn-secondary">Back to Details</button></a>
</div>



{% endblock %}